@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --left-font-color: black;
    --right-font-color: white;
    --hover-width: 60%;
    --other-width: 40%;

    --transition-speed: 1000ms;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h1 {
    font-size: 4rem;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    text-decoration: none;
    border: solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 15rem;
    padding: 1.5rem;
}

.split.left h1, .split.left .btn {
    color: var(--left-font-color);
    border-color: var(--left-font-color);
}

.split.right h1, .split.right .btn {
    color: var(--right-font-color);
    border-color: var(--right-font-color);
}

.split.right .btn {
    background-color: rgb(65, 65, 65);
}

.split.left .btn:hover {
    background-color: var(--right-font-color);
    border-color: var(--right-font-color);
}

.split.right .btn:hover {
    background-color: var(--left-font-color);
    border-color: var(--left-font-color);
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #333;
}

.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split.left {
    left: 0;
    background: url(https://images.unsplash.com/photo-1629898592917-00ca6b187c89?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bmFzYSUyMGxvZ298ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
}

.split.left::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--left-bg-color);
}

.split.right {
    right: 0;
    background: url(https://images.unsplash.com/photo-1541185933-ef5d8ed016c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c3BhY2V4fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
}

.split.right::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--right-bg-color);
}

.split.right,
.split.left,
split.right::before,
split.left::before {
    transition: all var(--transition-speed) ease-in-out;
}

.hover-left .left {
    width: var(--hover-width);
}

.hover-left .right {
    width: var(--other-width);
}

.hover-right .right {
    width: var(--hover-width);
}

.hover-right .left {
    width: var(--other-width);
}

.selected-left .left {
    width: 100%;
}

.selected-left .right {
    width: 0;
}

.selected-right .right{
    width: 100%;
}

.selected-right .left {
    width: 0;
}

@media(max-width: 800px) {
    h1 {
        font-size: 2rem;
    }

    .btn {
        padding: 1.2rem;
        width: 12rem;
    }
}
